@use "../../Styles/_colors/color" as Color;
// $primary-color: #a7bcff;
// $secondary-color: #5d5b8d;
.formContainer {
  background-color: Color.$primary-color;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .formWrapper {
    background-color: #fff;
    padding: 20px 60px;
    align-items: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    .logo {
      color: Color.$secondary-color;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 3px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
    input {
      padding: 15px;
      border: none;
      width: 250px;
      border-bottom: 1px solid Color.$primary-color;
      outline: none;
      &:nth-child(4) {
        border: none;
      }
      &::placeholder {
        color: rgb(175, 175, 175);
      }
    }
    .fileReader {
      display: flex;
      align-items: center;
      gap: 0 5px;

      img {
        height: 30px;
        cursor: pointer;
      }
      span {
        font-size: 12px;
        color: Color.$secondary-color;
      }
    }
    button {
      background-color: Color.$primary-color;
      color: #fff;
      border-radius: 5px;
      border: none;
      padding: 10px 0;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
    }
    p {
      color: Color.$secondary-color;
      font-size: 13px;
    }
  }
}
