* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Noto Sans Arabic", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
