@use "../../Styles/_colors/color" as Color;

//home Page StyleSheet

.home {
  background-color: Color.$primary-color;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .container {
    border: 1px solid Color.$white-color;
    border-radius: 5px;
    width: 65%;
    height: 85%;
    display: flex;
    overflow: hidden;
  }
  .sidebar {
    flex: 1;
    background-color: Color.$secondary-color;
  }
  .chat {
    flex: 2;
  }
}
