@use "../../../Styles/_colors/color" as Color;
@use "../../../Styles/breakPoint/media";

.UserContainer {
  height: calc(100% - 34px - 50px);
  overflow-y: auto;
  padding: 10px;

  .userItem {
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    img {
      height: 45px;
      width: 45px;
      border-radius: 50%;
      object-fit: cover;
    }
    h6 {
      font-size: 15px;
      font-weight: 100;
      color: Color.$white-color;
    }
    span {
      //last text witch sended :message info
      font-size: 12px;
      font-weight: 200;
      color: Color.$gray-color;
      //tablet device : we used media query in this section
      @include media.max-width(medium) {
        display: none;
      }
    }
  }
}
